<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="HomeBudgetContainer" connectionString="metadata=res://*/EF.HomeBudget.csdl|res://*/EF.HomeBudget.ssdl|res://*/EF.HomeBudget.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NAMEZIS64WIN7;initial catalog=HomeBudget;persist security info=True;user id=homebudgettest;password=homebudgettest;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
  
    <!-- test -->
  
  </appSettings>
</configuration>
